@import '../mixins/freemix';
#thinks{
    background-color: #f9f9fb;
    padding: 100px 0;
    position: relative;
    .think_head{
      h2{
        @include  head($clr: $primary_colors , $fs: 48px,);
        text-align: center;
      }
    }
    .prev_arrow{
        i{
            color: #f9f9fb;
            padding: 10px 15px;
            border-radius: 50%;
            background-color: #ccedcc;
            position: absolute;
            top: 57%;
            left: 2%;
            &:hover{
                background-color: $secondery_colors;
            }
        }
    }
    .think_slider{
        padding-top: 80px;
        .think_slid_item{
            margin-top: 80px;
            margin-bottom: 10px;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 20px;
            position: relative;
            img{
                position: absolute;
                top: -22%;
                left: 50%;
                transform: translate(-50%);
            }
            ul{
                padding-top: 100px;
                display: flex;
                gap: 10px;
                justify-content: center;
                margin-left: 20px;
                li a{
                    color: #FF7628;
                }
            }
            p{
                @include descriptions($clr: $forth_colors , $fs: 24px, $fw: 500);
                padding: 30px 0 50px;
                margin: 0 16%;
            }
            h3{
                @include  head($clr: $primary_colors , $fs: 25px,);
            }
            h4{
                @include  head($clr: $forth_colors , $fs: 20px,);
                padding: 5px 0 50px;
            }
        }
    }
    .next_arrow{
        i{
            color: #f9f9fb;
            padding: 10px 15px;
            border-radius: 50%;
            background-color: #ccedcc;
            position: absolute;
            top: 57%;
            right: 2%;
            &:hover{
                background-color: $secondery_colors;
            }
        }
    }
}