@import '../mixins/freemix';
#like{
    background-color: #f9f9fb;
    padding: 100px 0;
    .like_head{
        h2{
            @include  head($clr: $primary_colors , $fs: 48px,);
        }
    }
    .like_item{
        padding-top: 50px;
        display: flex;
        gap: 80px;
        .like_img img{
            border-radius: 20px;
        }
        .like_descript{
            ul{
                li{
                    display: flex;
                    gap: 35px;
                    p{
                        @include  descriptions($clr: $forth_colors , $fs: 24px, $fw: 500);
                        text-transform: capitalize;
                        .news{
                            color: $secondery_colors;
                        }
                        a{
                            color: $forth_colors;
                        }
                    }
                }
            }
            h3{
                @include  head($clr: $primary_colors , $fs: 30px,);
                line-height: 55px;
            }
            .like_btn{
                a{
                    @include  descriptions($clr: $primary_colors , $fs: 22px, $fw: 600);
                    border-radius: 100px;
                    position: relative;
                    &::after{
                        content: '';
                        width: 26%;
                        height: 100%;
                        border-top-right-radius: 100px;
                        border-bottom-right-radius: 100px;
                        background: $secondery_colors;
                        opacity: 50%;
                        position: absolute;
                        top: 0;
                        right: -8%;
                    }
                }
            }
        }
    }
}