@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
// FREE COLLECTIONS START
$primary_fontS: 'Open Sans', sans-serif;
$primary_colors: #141135;
$secondery_colors: #1BBF00;
$third_colors: #FAFAFE;
$forth_colors: #726E9E;
// FREE COLLECTIONS END